<!DOCTYPE html>
<html>
    <head>
        <title>마이페이지</title>
        <meta charset="utf-8">
        <link rel = "stylesheet" href="/public/mypage.css">
        <script src="/public/mypage.js"></script>
    </head>

    <body>
       
        <a href=/mypage><img src="/public/solux_logo.jpg" alt="My Image" width=350px></a>
        
        <div class="menu_card">
            <h5><a href=/mypage title="myPage">마이페이지</a></h5>
            <h5><a href=/board title="community">커뮤니티</a></h5>
            <h5><a href=/apply title="apply">지원서 작성</a></h5>
        </div>

    
        
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="left">
                        <img  src="/public/info01.png"  id = "infoimg" alt="My Image" width="150" height="150">
                        <button class= "buttonimg" onclick="changePic(0);">	&lt;- </button>
                        <button class= "buttonimg" onclick="changePic(1);"> -&gt; </button>
                    </div>

                    <div class="right">
                       <div class="infoname"> 이름: <%= member.personname %></div>
                       <div class="infosex"> 성별: <%= member.gender %></div>
                       <!-- <div class="infoid"> 아이디: </div> -->
                       <div class="infoemail">이메일: <%= member.email %></div>
                       <div class="infodate"> 생년월일: <%= member.birth %></div>
                    </div>
                </div>


                <div class= "buttongroup">
                    <button class= "button"><a href="/signupedit/<%= member.email %>">회원 정보 수정</a></button>
                    <button class= "button"><a href="/viewappli/<%= member.email %>">지원서 보기</a></button>
                    <!-- <button class= "button">작성글 보기</button> -->
                    <!-- <button class= "button">작성 댓글 보기</button> -->
                </div>
            </div>
        </div>

    </body>
</html>
